extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        .button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-brand
          a(href="#")
            img#nav-logo(src="/images/hero_logo.png")
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          li 
            a(href=(route === 'index')? "#about" : "./#about") Back
          li 
            a#flash Find My Color


  each entry in colors
    div.colorsplotch(sample_id="#{entry._id}"  style="background-color:rgb(#{entry.red},#{entry.green},#{entry.blue}); width:50px; height:50px; left:#{entry.x}px; top:#{entry.y}px;") &nbsp;

  include js.jade

  script(src="/socket.io/socket.io.js")

  script.
    
    var socket = io();
    
    function getUrlVars()
    {
      var vars = [], hash;
      var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
      for(var i = 0; i < hashes.length; i++)
      {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
      }
      return vars;
    }
        
    $(document).ready( function ()  {
      var stroke = $('[sample_id="' + getUrlVars().id + '"]');
      console.log(stroke);
      stroke.fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500);
      
      $('#flash').click(function(e) {
        e.preventDefault;
        console.log('test');
        stroke.fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500);
      });
      
          
      socket.on('message', function(message) {
        var color = message.data;
        $('body').append(
          '<div class="colorsplotch" style="background-color:rgb(' + color.r + ',' + color.g + ',' + color.b + '); width:50px; height:50px; left:' + color.x + 'px; top:' + color.y + 'px;"> &nbsp</div>'
        )
        console.log(color);
      });
      
    });
