extends layout

block content
  include nav
  each entry in colors
    div.colorsplotch(style="background-color:rgb(#{entry.red},#{entry.green},#{entry.blue}); width:50px; height:50px; left:#{entry.x}px; top:#{entry.y}px;") &nbsp;

  include js.jade

  script(src="/socket.io/socket.io.js")

  script.
    
    var socket = io();
        
    $(document).ready( function ()  {
    
          
      socket.on('message', function(message) {
        var color = message.data;
        $('body').append(
          '<div class="colorsplotch" style="background-color:rgb(' + color.r + ',' + color.g + ',' + color.b + '); width:50px; height:50px; left:' + color.x + 'px; top:' + color.y + 'px;"> &nbsp</div>'
        )
        console.log(color);
      });
      
    });
