extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        .button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-brand
          a(href="#")
            img#nav-logo(src="/images/hero_logo.png")
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          li 
            a(href=(route === 'index')? "#about" : "./#about") Back
          li 
            a#flash Find My Color


  each entry in colors
    div.colorsplotch(sample_id="#{entry._id}"  style="background-color:rgb(#{entry.r},#{entry.g},#{entry.b}); width:50px; height:50px; left:#{entry.x}px; top:#{entry.y}px;") &nbsp;

  include js.jade

  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/colorwall1.js")
    
    
