extends layout

block content
  include nav

  .container-fluid
    #about.row.light-orange
      .col-md-2
      .col-md-8.content.hero
        .row
          .col-md-5
            img(src="images/hero_logo_head.png")
          .col-md-7
            .row
              .col-md-12
                img(src="images/hero_logo_words.png")
            .row
              .col-md-12!= page.subtitle
      .col-md-2
  
    .row
      .col-md-8.col-md-offset-2.content
        .row
          .col-md-8(style= "margin-top: 60px")!= page.monet
          .col-md-4.text-center
            img.circle-up(src="images/claude_monet.jpg")

    .row.med-orange
      #how-target
      .col-md-8.col-md-offset-2.content
        h1 how it works
        .holder!= page.works
    
    
    #color-wall.row
      #color-wall-target
      .col-md-8.col-md-offset-2.content.colorwall
        img.header(src="images/color_sampler.png")
        .holder!= page.colorwall
        .text-center
          a.btn.btn-info.btn-lg.text-center(href="color") Start Sampling!
  
    //-
      #team.row
        #team-target
        .col-md-2
        .col-md-8.content
          h1 the team
          .row
            .col-md-6
              .text-center.image
                img.circle-up(src="images/claude_monet.jpg")
                h2 Guy Manchester
              p VHS freegan listicle, readymade normcore quinoa kombucha man bun scenester flannel. Pabst kombucha four loko, swag truffaut health goth aesthetic umami 90's cred quinoa williamsburg chia. Humblebrag four loko bespoke vinyl. Keytar celiac butcher kickstarter direct trade, taxidermy health goth aesthetic hammock yr. Scenester skateboard chicharrones single-origin coffee deep v gochujang.
              p Helvetica offal echo park cliche quinoa beard. Semiotics seitan banjo, migas taxidermy organic chia man bun crucifix marfa echo park ethical twee. Gluten-free selfies actually skateboard brunch cred. Jean shorts celiac blog chia try-hard actually. Flannel chartreuse tousled dreamcatcher. Mlkshk pug church-key iPhone literally selfies. Selvage slow-carb stumptown, hashtag mixtape green juice helvetica seitan trust fund polaroid.
            .col-md-6
              .text-center.image
                img.circle-up(src="images/claude_monet.jpg")
                h2 Manny Guystrong              
              p VHS freegan listicle, readymade normcore quinoa kombucha man bun scenester flannel. Pabst kombucha four loko, swag truffaut health goth aesthetic umami 90's cred quinoa williamsburg chia. Humblebrag four loko bespoke vinyl. Keytar celiac butcher kickstarter direct trade, taxidermy health goth aesthetic hammock yr. Scenester skateboard chicharrones single-origin coffee deep v gochujang.
              p Helvetica offal echo park cliche quinoa beard. Semiotics seitan banjo, migas taxidermy organic chia man bun crucifix marfa echo park ethical twee. Gluten-free selfies actually skateboard brunch cred. Jean shorts celiac blog chia try-hard actually. Flannel chartreuse tousled dreamcatcher. Mlkshk pug church-key iPhone literally selfies. Selvage slow-carb stumptown, hashtag mixtape green juice helvetica seitan trust fund polaroid.
        .col-md-2
      
    if latest  
      #blog.row.light-orange
        #blog-target
        .col-md-8.col-md-offset-2.content
          h2 latest blog post
          h1= latest.title
          p.blogcontent #{latest.summary} <a href="#{latest.url}"> ... read more</a>
          p.smaller Posted by #{latest.author} #{latest.time_ago} in the <a href="http://blog.projectmo.net">Project MoNET Blog</a>

    #contact.row.inverse
      #social-target
      .col-md-8.col-md-offset-2.content
        h1 be social
        #social.holder!= page.social
        .row
        .col-md-4.social-links
          a(href="https://www.facebook.com/projectmonet/")
            i.fa.fa-facebook-square 
            b  Facebook        
        .col-md-4.social-links
          a(href="https://twitter.com/robomonet")
            i.fa.fa-twitter-square 
            b  Twitter          
        .col-md-4.social-links
          a(href="https://github.com/LikeClockwork/MoNET")
            i.fa.fa-github-square 
            b  GitHub
      #contact2.row.inverse
        #contactus-target
        .col-md-8.col-md-offset-2.content
          #contactus!= page.contactus                      
  include js.jade
  script(src="/javascripts/index.js")
  
