extends layout

block content

  .container
    h1 User Management
    p Use this page to assign privileges to users. With admin privileges, a user is able to modify jobs and alter text on the front page.
    for user in users
      figure.highlight
        .row
          .col-md-12
            h2= user.name
            form.form-inline(id="#{user._id}")
              .form-group
                input(name="_id" style="display:none" value="#{user._id}")
              if user.owner == true
                .checkbox
                  label.checkbox
                    input(type="checkbox" name="owner" value="true" disabled=true checked=user.owner) 
                    |User is Owner
              .checkbox
                label.checkbox
                  input(type="checkbox" name="elevated" value="true" checked=user.elevated) 
                  |User Has Admin privileges
              button.pull-right.btn.btn-lg.btn-success.save(for="#{user._id}")
                i.fa.fa-save

  include js.jade
  script(src="/javascripts/formhandler.js")
  script(src="/javascripts/login.js")
