extends layout

block content

  .container
    h1 Works Management
    p Use this page to set up paintings and select which paintings is currently active. 
    p Only one painting may be active at a time. The active painting determines where color samples will land. Additionally, a painting may not be activated until the configuration is set.
    p The size of the painting will lock once it has accepted samples.
    p.text-center
      button#addJob.btn-success.btn.btn-lg Add New Painting
    
    for work in works
      figure.wc(class= "#{work.status}")
        .row
          .col-md-12
            h2.title-edit(title-for="#{work._id}")= work.title || 'untitled' 
            p
              strong Started
              |  #{work.date}
            p
              strong Sample Count
              |  #{work.sampleCount}
            button.btn.btn-success.wc-play(style= "#{ work.status === 'active' ? 'display: none' : ''}" data-id= "#{work._id}" )
              i.fa.fa-play
            button.btn.btn-warning.wc-pause(style= "#{ work.status === 'paused' ? 'display: none' : ''}" data-id= "#{work._id}")
              i.fa.fa-pause
            //-    
              button.wc-close-pop.btn.btn-danger(data-toggle="modal" data-target='[modal-id="#{work._id}"]')
                i.fa.fa-stop 
                |  Close Painting
        
        .row
          .col-md-12
            h4 Configuration  
        
        if work.sampleCount > 0
          .row
            .col-md-12
              .alert.alert-danger This painting already has samples, so its configuration is locked down.
        .row
          .col-md-12
            form#calForm.form-horizontal(config-for=work._id)              
              .form-group
                label.col-sm-4.control-label(for="mode") Mode
                .col-sm-4
                  select.form-control(type="text" name="mode")&attributes(work.sampleCount > 0 ? {disabled : 'disabled' } : '')
                    if work.mode != 'Portrait'
                      option(value="Random continuous" selected = work.mode == 'Random continuous') Random continuous
                      option(value="Random lines" selected = work.mode == 'Random lines') Random lines
                      option(value="Random spots" selected = work.mode == 'Random spots') Random spots
                    else 
                      option(selected value="Portrait") Portrait               
              .form-group
                label.col-sm-4.control-label(for="width") X distance (inches)
                .col-sm-4
                  input.form-control(type="number" min=0 step="0.25" name="width" value=work.width)&attributes(work.sampleCount > 0 ? {disabled : 'disabled' } : '')
              .form-group
                label.col-sm-4.control-label(for="height") Y distance (inches)
                .col-sm-4
                  input.form-control(type="number" min=0 name="height" step="0.25" value=work.height)&attributes(work.sampleCount > 0 ? {disabled : 'disabled' } : '')
              .form-group
                label.col-sm-4.control-label(for="speed") Movement speed (low is fast, 5000 is quick, 15000 is pretty slow)
                .col-sm-4
                  input.form-control(type="number" min=0 name="speed" value=work.speed||5000)
              .form-group
                label.col-sm-4.control-label(for="speedDispense") Painting speed (low is fast, 5000 is quick, 15000 is pretty slow)
                .col-sm-4
                  input.form-control(type="number" min=0 name="speedDispense" value=work.speedDispense||5000)
              .form-group
                label.col-sm-4.control-label(for="paintMultiplier") Paint Density (low is less, 50 is a good start)
                .col-sm-4
                  input.form-control(type="number" min=0 name="paintMultiplier" value=work.paintMultiplier||50)
              .form-group
                label.col-sm-4.control-label(for="redBoost") Red Paint Correction (multiple, 1 is as is, 0.5 is half, 2 is twice, etc)
                .col-sm-4
                  input.form-control(type="number" step="0.1" name="redBoost" value=work.redBoost||1)
              .form-group
                label.col-sm-4.control-label(for="greenBoost") Green Paint Correction (multiple, 1 is as is, 0.5 is half, 2 is twice, etc)
                .col-sm-4
                  input.form-control(type="number" step="0.1" name="greenBoost" value=work.greenBoost||1)
              .form-group
                label.col-sm-4.control-label(for="blueBoost") Blue Paint Correction (multiple, 1 is as is, 0.5 is half, 2 is twice, etc)
                .col-sm-4
                  input.form-control(type="number" step="0.1" name="blueBoost" value=work.blueBoost||1)
              .form-group
                label.col-sm-4.control-label(for="whiteBoost") White Paint Correction (multiple, 1 is as is, 0.5 is half, 2 is twice, etc)
                .col-sm-4
                  input.form-control(type="number" step="0.1" name="whiteBoost" value=work.whiteBoost||1)
              .form-group
                label.col-sm-4.control-label(for="blackBoost") Black Paint Correction (multiple, 1 is as is, 0.5 is half, 2 is twice, etc)
                .col-sm-4
                  input.form-control(type="number" step="0.1" name="blackBoost" value=work.blackBoost||1)
              .form-group
                .col-sm-4.col-sm-offset-4
                  button.save.btn.btn-success(type="submit" config-for=work._id) Save
            
              
      .modal.fade(modal-id="#{work._id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
          .modal-dialog(role="document")
            .modal-content  
              .modal-header
                .modal-title
                  h2 Confirm closing of 
                    i #{work.title || 'untitled'}
              .modal-body
                p Closing of a painting is irreversible and it will kick off a several events:
                ul
                  li The painting will be converted to an image file.
                  li All associated samples will be dumped (maybe?).
                  li The painting will be posted to the gallery, facebook, and twiter.
                p You sure you want to do this?
              .modal-footer
                button.wc-close.btn.btn-success Yes, close it!
                button.btn.btn-danger( data-dismiss="modal") Nevermind!
              
              


              
              

  include js.jade
  include formjs.jade

  link(rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css")

  script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous")
  script(src="//cdn.tinymce.com/4/tinymce.min.js")
  script(src="/javascripts/works.js")
